<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>
    <!-- Styles -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/style.css">
    <!-- Scripts -->
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/main.js"></script>
</head>
<body>
    <div id="mobile-version"></div>
    <div id="header-outside">
        <div class="website-container">
            <div id="header-inside">
                <div class="header-default-view">
                    <div class="navbar navbar-static-top">
                        <div class="navbar-header">
                            <a href="/" class="navbar-brand">
                                <img class="website-logo" src="~/img/logo.png" />
                            </a>
                            <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse navHeaderCollapse">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="active"><a href="http://docs.qbitninja.apiary.io/">API</a></li>
                                @if(this.Request.Url.Host.StartsWith("tbtc"))
                                {<li><a href="http://btc.blockchainhub.co.jp/">TO MAINNET</a></li>}
                                else
                                {<li><a href="http://tbtc.blockchainhub.co.jp/">TO TESTNET</a></li>}
                                    @*<li class="show-dropdown-menu">
                                        <a data-toggle="collapse" data-target=".custom-dropdown-menu" href="#">BTC<span class="arrow"></span></a>
                                        <ul class="custom-dropdown-menu">
                                            <div class="add-space"></div>
                                            <div class="white-block">
                                                <li><a href="#">AUD 235</a></li>
                                                <li><a href="#">CAD 335</a></li>
                                                <li><a href="#">USD 235</a></li>
                                                <li><a href="#">EUR 214</a></li>
                                            </div>
                                        </ul>
                                    </li>*@
                                @if(ViewBag.HideSearchButton == null || !ViewBag.HideSearchButton)
                                {
                                    <li>
                                        <a href="#" class="search-show">
                                            <input type="text" class="form-control search-mobile" placeholder="Search"><img src="~/img/search.png">
                                        </a>
                                    </li>}
                            </ul>
                        </div>
                    </div>
                    @if(ViewBag.HeaderTitle == null)
                    {
                        <div class="header-block header-block-big text-center">
                            <h1>BITCOIN BLOCKCHAIN</h1>
                            <h2>real time finance</h2>
                            <div class="search-main-container">
                                <form action="/" method="post" style="display:inline;">
                                    <input name="search" type="text" class="form-control search-main" placeholder="Enter block, address, block hash, transaction hash" />
                                </form>
                                <img class="search-black-main" src="~/img/search-black.png" />
                            </div>
                            @*<div class="new-to-bitcoin"><a href="#">New to bitcoin?</a><div></div>|<div></div><a href="#">What is ether?</a></div>*@
                        </div>}
                    else
                    {
                        <div class="header-block">
                            <h1>@ViewBag.HeaderTitle</h1>
                            <h2>real time finance</h2>
                        </div>}
                </div>
                <div class="header-search-view">
                    <div class="header-search-block">
                        <img src="~/img/logo.png" />
                        <form action="/" method="post" style="display:inline;">
                            <input name="search" type="text" class="form-control search" placeholder="Enter block, address, block hash, transaction hash" />
                        </form>
                        <img class="search-black" src="~/img/search-black.png" />
                        <img class="search-quit" src="~/img/search-quit.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    @RenderBody()
    <div id="footer-outside">
        <div class="website-container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer-img-container"><img src="~/img/logo.png" /></div>
                    <div class="copyright">© 2016 BlockchainHub</div>
                </div>

                @*<div class="col-lg-2 col-sm-6">
                        <div class="footer-menu-header">COMPANY</div>
                        <div class="footer-menu-item"><a href="#">About us</a></div>
                        <div class="footer-menu-item"><a href="#">Services</a></div>
                        <div class="footer-menu-item"><a href="#">FAQ</a></div>
                        <div class="footer-menu-item"><a href="#">Contact</a></div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="footer-menu-header">LEARN</div>
                        <div class="footer-menu-item"><a href="#">Buy Bitcoin</a></div>
                        <div class="footer-menu-item"><a href="#">Buy ether</a></div>
                        <div class="footer-menu-item"><a href="#">Supported countries</a></div>
                        <div class="footer-menu-item"><a href="#">Status</a></div>
                    </div>

                    <div class="col-lg-2 col-sm-6">
                        <div class="footer-menu-header">SOCIAL MEDIA</div>
                        <div class="footer-menu-item"><a href="#">Facebook</a></div>
                        <div class="footer-menu-item"><a href="#">Linkedin</a></div>
                        <div class="footer-menu-item"><a href="#">Twitter</a></div>
                        <div class="footer-menu-item"><a href="#">Google Plus</a></div>
                    </div>

                    <div class="col-lg-2 col-sm-6">
                        <div class="text-right align-center-lg">
                            <div class="footer-menu-header" style="padding-right: 12px">LANGUAGES</div>
                            <span class="languages">
                                <select>
                                    <option>English</option>
                                    <option>Japanese</option>
                                </select>

                                <div class="languages-hover">
                                    <div><a href="#"><strong>English</strong></a></div>
                                    <div><a href="#">Japanese</a></div>
                                </div>
                            </span>

                        </div>
                    </div>*@
            </div>
        </div>
    </div>
</body>
</html>
