
@{
    ViewBag.Title = "Transaction";
    Layout = "~/Views/_LayoutPage.cshtml";
    ViewBag.HeaderTitle = "Transaction";
}

<div class="website-container">
    <div class="navigator">Home &nbsp/ &nbspBlock 426320 &nbsp/ &nbspTx: bf4dfaaad1578257190a74644fc248b2a3893342bb4418fd811431874e895027</div>

    <div class="panel panel-custom panel-blue">
        <div class="panel-heading panel-heading-green">
            <div class="row">
                <div class="col-sm-8">
                    <div class="panel-heading-address-left">
                        35dd9ff50c527812116fdf8c9907acaffc415f1c4150cc2e4165acede3461ea2
                        <div class="transaction-date"><img src="img/clock-icon-white.png" /><span>Aug 22, 2016 9:45:54 AM</span></div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel-heading-address-right text-right sm-text-left">9,744.71502887 BTC</div>
                </div>
            </div>

        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="bitcoin-address-info-record"><strong>Input Amount</strong><span class="float-right color-gray">0.00 BTC</span></div>
                    <div class="bitcoin-address-info-record"><strong>Output Amount</strong><span class="float-right color-gray">13.2475153 BTC</span></div>
                    <div class="bitcoin-address-info-record"><strong>Included in Block</strong><span class="float-right color-gray">426320</span></div>
                    <div class="bitcoin-address-info-record"><strong>Fee</strong><span class="float-right color-gray">0.00 BTC</span></div>
                    <div class="bitcoin-address-info-record"><strong>Version</strong><span class="float-right color-gray">1</span></div>
                </div>
                <div class="col-md-6">
                    <div class="bitcoin-address-info-record"><strong>Inputs</strong><span class="float-right color-gray">0</span></div>
                    <div class="bitcoin-address-info-record"><strong>Outputs</strong><span class="float-right color-gray">1</span></div>
                    <div class="bitcoin-address-info-record"><strong>Block Index</strong><span class="float-right color-gray">0</span></div>
                    <div class="bitcoin-address-info-record"><strong>Size</strong><span class="float-right bytes">173 bytes</span></div>
                    <div class="bitcoin-address-info-record"><strong>Fee size</strong><span class="float-right color-gray">0.00 sat/B</span></div>
                </div>
            </div>
            <div class="report-an-issue-container">
                <a href="#" class="report-an-issue"><div class="report-issue-img"></div>Report an issue</a>
                <a href="#" class="float-right bookmark"><span class="color-gray bookmark-span">bookmark</span> <img src="img/bookmark.png" /></a>
            </div>
        </div>
    </div>

    <div class="text-big">NEWLY GENERATED COINS</div>

    <div class="panel panel-custom panel-blue panel-newly-generated">
        <div class="panel-body">
            <div class="row accordion-row-margin-bot">
                <div class="col-lg-4 color-green font-bold">
                    <div class="btn-arrow-left"></div>
                    1KkVpAynsVc14zSoCPcAXes2BMFjFjcwsP
                </div>

                <div class="col-lg-2 font-bold font-gray">
                    -2,9999
                </div>

                <div class="col-lg-4 font-gray">
                    1LFzkpCPrhzrdzK5thqMg3yS3s14dsG854
                </div>

                <div class="col-lg-2 text-right lg-text-left font-gray">
                    2.0228<div class="btn-arrow-right-static btn-arrow-right"></div>
                </div>
            </div>

            <div class="row accordion-row-margin-bot">
                <div class="col-lg-4">
                </div>

                <div class="col-lg-2">
                </div>

                <div class="col-lg-4 font-gray">
                    1LFzkpCPrhzrdzK5thqMg3yS3s14dsG854
                </div>

                <div class="col-lg-2 text-right lg-text-left font-gray">
                    2.0228<div class="btn-arrow-right-static btn-arrow-right"></div>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-sm-6">
                    <div style="margin-left: 35px"><span class="font-bold">Show:</span> Trade | Raw</div>
                </div>
                <div class="col-sm-6">
                    <div class="float-right">
                        <table class="custom-table">
                            <thead></thead>
                            <tbody>
                                <tr>
                                    <td><strong>Fee:</strong></td>
                                    <td class="color-gray">0.00100000</td>
                                </tr>
                                <tr>
                                    <td><strong>Traded:</strong></td>
                                    <td class="color-gray">0.00100000</td>
                                </tr>
                                <tr>
                                    <td class="color-green"><strong>Transaction sum:</strong></td>
                                    <td class="color-gray">0.52202655</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="height: 30px"></div>

</div>


